@import "./../../scss/bundle";

#wrap{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: $white;

    &.changingToNormalSize{
        transition: all .3s;
        height: 100vh;
    }

    &.fullScreen{
        transition: all .3s;
        height: 100vh;
        header{
            height: 0px !important;
            overflow: hidden;
            opacity: 0;
        }
        nav{
            width: 0px !important;
            overflow: hidden;
            opacity: 0;
        }
        main{
            height: 100%;
        }
        aside{
            width: 0px !important;
            overflow: hidden;
            opacity: 0;
        }
        .openMenu{
            transform: translateX(-22px);
        }
        .openAside{
            transform: translateX(32px);
        }
    }

    header{
        width: 100%;
        height: 50px;
        transition: all .3s;
        background-color: $primary-dark;
        z-index: 1;
    }

    nav{
        width: 250px;
        height: calc(100% - 50px);
        box-sizing: border-box;
        transition: all .3s;
        position: relative;
        background-color: $white-light;
        border-right: 1px solid $primary-lightest;
    }
    main{
        flex: 1;
        height: calc(100% - 50px);
        background-color: $white;
        transition: all .3s;
    }
    aside{
        width: 250px;
        height: calc(100% - 50px);
        box-sizing: border-box;
        transition: all .3s;
    }
}