// blue-----------------------------------
// $fff: #ffffff;
// $white: #f6f7fa;
// $white-dark: #e8e8e8;

// $point: #5584ff;
// $point-light: lighten($point, 10%);
// $point-dark: #3755a4;
// $point-darkest: #0e1a35;

// $gray: #8492af;
// $gray-light: #e9ebec;
// $gray-dark: darken($gray, 10%);

// $crush: #f83c7b;
// $caution: #ffa600;


// green-----------------------------------
// $fff: #ffffff;
// $white: #f6f7fa;
// $white-dark: darken($white, 2%);

// $point: #1aa6b7;
// $point-light: lighten($point, 10%);
// $point-dark: darken($point, 10%);
// $point-darkest: darken($point, 33%);

// $gray: #8492af;
// $gray-light: lighten($gray, 30%);
// $gray-dark: darken($gray, 10%);

// $crush: #ff3b55;
// $caution: #ffa600;

/* Color Theme Swatches in Hex */

// login theme
$secondary: #586F8C;
$secondary-dark: #495B73;
$secondary-darker: #333f4e;
$secondary-darkest: #262625;

// common theme
$gray: #A6A6A6;
$white-light: #f6f7fa;
$white: #F2F2F2;
$white-dark: #e8e8e8;
$caution: #ffa02c;
$danger: #D92323;
$crush: #f83c7b;

$shadow: transparentize($gray, .3);

// main theme
$primary: #526AF2;
$primary-light: #8091F2;
$primary-lighter: #ACB7F2;
$primary-lightest: #DFE5F2;
$primary-dark: #1A2440;
