@import "./../../scss/bundle";

nav {
    // padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &.mini{
        width: 46px !important;
        position: absolute;
        transition: all .5s;

        .logo{
            overflow: hidden;
            p{
                transition: all .3s;
                opacity: 0;
            }
        }

        menu{
            .menuGroup{
                .menuGroupTitle{
                    overflow: hidden;
                    p{
                        transition: all .3s;
                        opacity: 0;
                    }
                }
            }
        }

        .minimalizeMenu{
            overflow: hidden;
            i{
                transition: all .3s;
                transform: rotate(180deg);
            }
            p{
                transition: all .3s;
                opacity: 0;
            }
        }
    }

    &.expandingMenuArea{
        .logo{
            p{
                transition: all .3s;
            }
        }
        menu{
            .menuGroup{
                .menuGroupTitle{
                    p{
                        transition: all .3s;
                    }
                }
            }
        }
        .minimalizeMenu{
            i{
                transition: all .3s;
            }
            p{
                transition: all .3s;
            }
        }
    }

    .logo {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        background-color: $white-dark;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 3px;
        margin-top: 3px;
        border-radius: 5px;

        img{
            width: 40px;
            height: auto;
        }
        p{
            font-size: 14px;
            font-weight: 700;
            margin-left: 14px;
            white-space: pre;
        }
    }

    menu {
        width: 95%;
        margin: 0 auto;
        height: calc(100% - 50px);

        &::-webkit-scrollbar {
            width: 4px;
            display: none;
        }

        .menuGroup {
            width: 100%;
            position: relative;

            .menuGroupTitle {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                font-weight: 500;
                color: transparentize($secondary, .3);
                transition: all .5s;
                cursor: pointer;
                position: relative;
                padding: 6px 3px;
                box-sizing: border-box;
                margin: 1px 0;
                border-radius: 5px;

                &:hover {
                    background-color: lighten($gray, 20%);
                    color: #000;
                }


                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    font-size: 1rem;
                }

                p {
                    margin-left: 60px;
                    width: 100%;
                    font-size: 14px;
                    text-align: left;
                    font-weight: 500;
                    white-space: pre;
                }
            }

            &:hover{
                ul{
                    display: block;
                }
            }

            ul {
                transition: all .5s;
                position: absolute;
                top: 0;
                left: calc(100% + 15px);
                z-index: 1;
                background-color: $white-light;
                width: max-content;
                border-radius: 10px;
                padding: 10px;
                display: none;
                box-shadow: 0px 0px 15px $shadow;

                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 15px;
                    height: 100%;
                    left: -15px;
                    top: 0;
                }

                li {
                    a{
                        display: block;
                        color: transparentize($secondary, .3);
                        box-sizing: border-box;
                        transition: all .5s;
                        cursor: pointer;
                        width: 100%;
                        text-align: left;
                        font-weight: 500;
                        font-size: 15px;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                    &:hover {
                        a{
                            background-color: lighten($gray, 20%);
                            color: #000;
                        }
                    }

                    &.active{
                        a{
                            color: $white;
                            background-color: $primary-light;
                        }
                    }
                }
            }

            &.active{
                .menuGroupTitle{
                    color: $primary;
                }
            }
        }
    }

    .minimalizeMenu {
        width: 100%;
        display: flex;
        align-content: center;
        height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: $secondary;
        cursor: pointer;
        transition: all .5s;
        padding: 10px 0;
        background-color: $white-light;

        &:hover{
            color: #000;
            background-color: lighten($gray, 20%);
        }
    
        i {
            font-size: 20px;
            margin-left: 20px;
        }

        p {
            margin-left: 50px;
            width: 100%;
            font-size: 14px;
            text-align: left;
            font-weight: 500;
            white-space: pre;
        }
    }
}

.openMenu{
    // display: none;
    width: 32px;
    position: absolute;
    top: 50px;
    left: -10px;
    writing-mode: vertical-rl;
    // height: max-content;
    height: calc(100% - 50px);
    padding: 2vh 0;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    background-color: $primary-light;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
    transform: translateX(-22px);

    &:hover{
        background-color: $primary;
    }

    &.mini{
        transform: translateX(0px);

        &:hover{
            transform: translateX(10px);
        }
    }
}